DB_URL=
TEST_DB_URL=

ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
SECRET_ACCESS_KEY=
SECRET_REFRESH_KEY=
ALGORITHM=HS256

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379/0

MAIL_USERNAME=
MAIL_FROM=
MAIL_PASSWORD=
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

TESTING=true
EMAIL_SERVICE_ACTIVE=true

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
AWS_S3_BUCKET=